//META{"name":"ryuuta0217 Theme","description":":thinking: :innocent:","author":"ryuuta0217","version":"最新"}*//{}

/*メインテーマをインポート*/
@import url("https://cdn.rawgit.com/ryuuta0217/Discord-Theme/master/discord-theme.css");

/* 背景指定/Backgrounds */

.app,
.callout-backdrop {
		/* https://と続いているところに背景画像のURLを貼ろう 1920x1080の画像を推奨しています */
		/* Base64にも対応しています */
		background-image: url("https://example.com/background-image.png");
		background-size: cover;
}

/* 色とかの設定 - まだ開発段階です! 追加して欲しい色の設定があったらTwitterかDiscordまで! */
:root {
		/* フォント指定 - PCにインストールされているフォント名を使用してください */
	--font-name: ほにゃ字Re;

	/* メイン色(今のところ使用箇所なし) */
	--main-color: rgba(37, 172, 232, 1);

	/* アクセントカラー (左下アカウント表示部分などに使用) */
	--accent-color: rgba(207, 113, 118, 1);

	/* 背景カバー */
	--background-cover: rgba(0, 0, 0, 0.6);

	/* サーバーチャンネル一覧の背景部、カバー */
	--channel-background: rgba(0, 0, 0, 0.45);

	/* スクロールバーの色 */
	--scroll-bar-color: rgba(30, 33, 36, 1);

	/* スクロールバーの背景色 */
	--scroll-bar-background-color: rgba(0, 0, 0, 0);

	/* 背景色 */
	--background-color: rgba(0, 0, 0, 0.6);

	/* 選択済みの色 */
	--selected-color: rgba(207, 113, 118, .6);

	/* カーソルを合わせた時の色 */
	--hover-color: rgba(207, 113, 118, 0.2);

	/* 未読色 */
	--unread-color: rgba(207, 113, 118, 0.7);

	/* ボイチャ接続中色 */
	--vc-color: rgba(207, 113, 118, 0.97);

	/* 文字色 */
	--text-color: rgba(255,255,255,0.86);

	/* チャット履歴のタイムスタンプの文字の色 */
	--timestamp-color: rgba(255,255,255,.6);

	/* Markdown pre記法(``` で囲う) の色 */
	--markdown-background: rgba(207, 113, 118, 0.4);

	/* 完全透明 */
	--invisible-color: rgba(0,0,0,0);
	--transparent-color: transparent;

	/* 新しいメッセージ バー */
	--new-message-bar: rgba(269, 56, 39, 1);

	/* ユーザーの詳細情報(ポップアップカバー色) */
	--user-popup-cover: rgba(0,0,0,0.6);

	/* 文字入力部分 */
	--input: rgba(0, 0, 0, 0.4);

	/* 入力欄ポップアップ */
	--input-popup: rgba(0, 0, 0, 0.8);

	/* ゲームタブ カード背景 (旧 Activity) */
	--activity-card-background: rgba(0, 0, 0, 0.7);

	/* メニュー背景色(右クリポップアップなど) */
	--menu-color: rgba(0, 0, 0, 0.7);
}

/* 追加オプション - 有効にする際は . や # の前にある /* を外してください */

/* 共通 追加オプション - 添付画像の表示サイズ変更 */
/* width: 、 height: の 150px の 150の部分を各自変えてください。両方の値はどちらも同一が望ましいです*/
/*.inner-1_1f7b>.modal-image>img
{
	width: calc(100% + 150px);
	height: calc(100% + 150px);
}

/* 共通 追加オプション - ビデオ通話　背景透過 */
/* 背景が透過し、会話の文字が見えるようになりますが右クリックや文字選択はサポートされていません。ご了承ください。*/
/*.ui-video-height.minimum.private-channel-call.animated
{
	background: rgba(0,0,0,0.7) !important;
	height: 50px;
}

/* 共通 追加オプション - アップロード画面の背景変更 */
/* https://example.com... を削除して、画像のURLを貼ろう 1920x1080の画像を推奨しています */
/*.backdrop-2ohBEd {
    		opacity:1 !important;
    		background: url("https://example.com/upload-background-image.png") !important;
    		background-size: cover !important;
			background-position: center !important;
}

/* 共通 追加オプション - 時計(Clockプラグインを使用している時にのみ) */
/* Clockプラグイン: https://raw.githubusercontent.com/Jiiks/BetterDiscordApp/master/Plugins/clock.plugin.js */
/* 右クリックして名前を付けて保存をしたあと、 BetterDiscord/Plugins にコピー&ペーストしてください */
/*#clockPluginClock
{
position: relative;
top: 25px;
left: 55px !important;
background:transparent !important;
font-size: 12px;
z-index: 10000;
}

/* MacOS向け 追加オプション - ツールバーボタン(閉じる、拡大、最小化など) */
/*.typeMacOS-3IiWed.titleBar-3_fDwJ.horizontal-2VE-Fw.flex-3B1Tl4.directionRow-yNbSvJ.justifyBetween-1d1Hto.alignCenter-3VxkQP.unfocused-3drpf8,
.typeMacOS-3IiWed.titleBar-3_fDwJ.horizontal-2VE-Fw.flex-3B1Tl4.directionRow-yNbSvJ.justifyBetween-1d1Hto.alignCenter-3VxkQP
{
	background:rgba(0,0,0,0.7) !important;
	width: 74px;
}